DATABASE_URL="postgresql://tenant:tenant@localhost:5432/tenant_service?schema=public"
RABBITMQ_URL="amqp://localhost:5672"
RABBITMQ_EXCHANGE="clinica.topic"
REDIS_URL="redis://localhost:6379"
PORT=3001
NODE_ENV=development